<mat-card class="card">
    <div class="container">
        <div class="row">
            <div class="col1">
                <mat-card-actions>
                    <button class="btn" routerLink="/POS">
                        <p>POS</p>
                    </button>
                </mat-card-actions>

                <mat-card-actions>

                    <button class="btn" mat-flat-button routerLink="/Sales"> 
                        <p>Sales Report</p>
                    </button>

                </mat-card-actions>

                <mat-card-actions>
                    <button class="btn" mat-flat-button routerLink="/Transactions">
                        <p>Transactions</p>
                    </button>
                </mat-card-actions>
            </div>
            <div class="col2">
                <mat-card-actions>
                    <button class="btn" mat-flat-button>
                        <p>Product List</p>
                    </button>
                </mat-card-actions>

                <mat-card-actions>
                    <button class="btn" mat-flat-button>
                        <p>Employee Management</p>
                    </button>
                </mat-card-actions>
            </div>
        </div>
    </div>
</mat-card>
