.container{

    display: flex;
    flex-direction: column;
    padding-right: 10px;
    height: auto;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 10px;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, rgb(53,210,124), rgba(0, 255, 98, 0.514)) border-box;
    border: 2px solid transparent;
    border-bottom-right-radius: 1px;
    border-top-left-radius: 1px;
    box-shadow: .5px .5px #2ea86548;
}

.sales-table {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    margin: auto;
  }
  
  .sales-table-design{
    background-color:   #ffffff !important;
  }
  