button {
  margin-left: 7px;
}

/* th{
background-color: rgb(28, 169, 212) !important;

} */

@media only screen and (max-width: 768px) {
  .full-width-table {
    width: 100%;

  }

  table {
    width: 500px;
    margin-right: 100px;
  }
}