
<div class="sales-table ">
  <table mat-table class="sales-table-design" matSort aria-label="Elements">
    <ng-container *ngFor="let column of salesDisplay" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ column === 'product' ? 'Product / Service' :
        column === 'totalQuantity' ? 'Total Quantity' : 
        column === 'totalGross' ? 'Total Gross' :
        column === 'totalNet' ? 'Total Net' :
        column === 'refund' ? 'Refund' :
        column === 'discount' ? 'Discount' : 
        column === 'tax' ? 'Tax' :
        column === 'cost' ? 'Cost' : column}}
      </th>
      <td mat-cell *matCellDef="let row">{{ row[column] }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="salesDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: salesDisplay;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
