
<div class="container">
    <div class="cointainer1">
        <div class="col1">
            <mat-form-field class="example-full-width">
                <mat-label>Favorite food</mat-label>
                <input matInput placeholder="Ex. Pizza" value="Sushi">
              </mat-form-field>
    
              <mat-form-field class="example-full-width">
                <mat-label>Favorite food</mat-label>
                <input matInput placeholder="Ex. Pizza" value="Sushi">
              </mat-form-field>
    
              <mat-form-field class="example-full-width">
                <mat-label>Favorite food</mat-label>
                <input matInput placeholder="Ex. Pizza" value="Sushi">
              </mat-form-field>
    
              <mat-form-field class="example-full-width">
                <mat-label>Favorite food</mat-label>
                <input matInput placeholder="Ex. Pizza" value="Sushi">
              </mat-form-field>
    
              <button mat-fab color="primary" aria-label="Example icon button with a Add icon">
                <mat-icon>add</mat-icon>
              </button>
        </div>
    
      
    </div>
    
    <div class="container2">
       
                <app-product-data></app-product-data>
        
        <div class="col2">
            hi
        </div>
    </div>
    
</div>