
<mat-card class="card"> 
    <div class="container">
        <div class="row">
            <div class="col1">
                <mat-card-actions>

                    <button class="btn" mat-flat-button [routerLink]= "['/employee/manage-staff']">
                        <p>Manage Staff</p>
                    </button>

                </mat-card-actions>

                <mat-card-actions>
                    <button class="btn" mat-flat-button>
                        <p>Manage Salary</p>
                    </button>
                </mat-card-actions>
            </div>
            
        </div>
    </div>
</mat-card>
