<div class="invoice-container" id="print">
  <div class="header">

    <div class="company-details">
      <h2>PISOVEST</h2>
      <p>2/F Bachrach Bldg. II Corner 23rd </p>
      <p> and, Railroad Dr, Port Area,</p>
      <p> Manila, 1000 Metro Manila</p>
      <p>Phone: (02) 5335 7070</p>
      <p>Email: pisovest@gmail.com</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <p><strong>Invoice To:</strong></p>
      <p>John Doe</p>
    </div>
    <div class="col">
      <p><strong>Invoice Details:</strong></p>
      <p>Category: Apparel</p>
      <p>Product: Shoes</p>
      <p>Quantity: 5</p>
      <p>Price: $1000.00</p>
    </div>
  </div>
  <hr>
  <table>
    <tbody>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3" class="text-right"><strong>Retail Price:</strong></td>
        <td>$950.00</td>
      </tr>
      <tr>
        <td colspan="3" class="text-right"><strong>Tax:</strong></td>
        <td>$50.00</td>
      </tr>
      <hr>
      <tr>
        <td colspan="3" class="text-right"><strong>Total Price:</strong></td>
        <td>$1000.00</td>
      </tr>
    </tfoot>
  </table>
</div>

<div class="btn-print">
  <button mat-raised-button ngxPrint printSectionId="print" color="primary">Print</button>

</div>