input[type="date"]::-webkit-input-placeholder,
input[type="date"]::placeholder {
  color: gray;
  font-style: italic;
}

.container{
    display: flex;
    width: 50%;
    align-items: center;
    border: none !important;
    box-shadow: none;
    flex-direction: column;
    column-count: 2;
}

.forms{
    display: flex;
    column-count: 2;

}

input{
        width: 20em;
        height: 2.5em;
      
}


.form-container {
    width:max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin: 4em;

  }
  
  .form-column {
    width: 40%;
    margin-bottom: 20px;
    display: flex;
 
  }
