<div class="container">
<form (ngSubmit)="onSubmit()" class="form-container">
    <h2 mat-dialog-title> Add Product </h2>
    <ng-container *ngFor="let Product of Product">
        
        <ng-container *ngIf="Product.name !== 'Category'">
          <input type="text" name="{{Product.name}}" placeholder="{{Product.placeholder}}" [(ngModel)]="formData[Product.name]">
        </ng-container>
        <ng-container *ngIf="Product.name === 'Category'">
         <mat-form-field class="category-select">   
            <mat-label>Category</mat-label>
            <mat-select name="{{Product.name}}" [(ngModel)]="formData[Product.name]">
              <mat-option *ngFor="let option of option" [value]="option.value">{{option.label}}</mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </ng-container>
    <button mat-raised-button="submit">Submit</button>
</form>
</div>