    <mat-toolbar class="tools">
      <div class="header">
      <button class ="back" mat-raised-button mat-flat-button [routerLink] = '["/product"]' > Return </button>
        <input type="text" class="Search" matInput placeholder="Search"> 
      
        <button mat-raised-button> Add Category </button>
    </div>
      
    </mat-toolbar>
  <div class="container">
    <table>
      <thead>
          <tr >
              <th *ngFor="let dataName of dataName">{{dataName.label}}</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let data of data">
              <td>{{data.id}}</td>
              <td>{{data.CategoryName}}</td>
              <td>{{data.Description}}</td>
              <td>{{data.action}}</td>
      </tbody>
  
  
    </table >
</div>
  <mat-paginator [length]="50"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page">
  </mat-paginator>


