*{
  margin-top: 20px;
  margin-left: 40px;
}
.container{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.tools{
  width: 90%;
  justify-content: flex-end;
  margin: none;
}
table {
  width: 80%;
  align-items: center;
}
mat-toolbar{
  width: 90%;
}
.mat-mdc-paginator-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 8px;
  flex-wrap: wrap-reverse;
  width: 90%;
}
.btn{
  width: 20%;
  align-items: flex-start;
}
.header{
  display: flex;
  align-items: stretch
}
.back{
  flex-direction: row-reverse;
}
