<div class="dialog-box">
  <div class="form-container">
    <div class="form-column">
      <ng-container *ngFor="let staff of Staff; let i = index">
        <div *ngIf="i % 2 === 0" class="form-group">
          <mat-label>{{staff.name}}</mat-label>
          <input matInput type="{{staff.type}}" name="{{staff.name}}" placeholder="{{staff.placeholder}}" [(ngModel)]="formData[staff.name]">
        </div>
      </ng-container>
    </div>
    <div class="form-column">
      <ng-container *ngFor="let staff of Staff; let i = index">
        <div *ngIf="i % 2 === 1" class="form-group">
          <mat-label>{{staff.name}}</mat-label>
          <input matInput type="{{staff.type}}" name="{{staff.name}}" placeholder="{{staff.placeholder}}" [(ngModel)]="formData[staff.name]">
        </div>
      </ng-container>
    </div>
  </div>

  <button type="submit" mat-raised-button>Submit</button>

  
