.container{
    display: flex;
    width: 60%;
    align-items: center;
    margin-top: 100px;
    border: none !important;
    box-shadow: none;
    flex-direction: column;
    column-count: 2;
}
.forms{
    
    margin:10px;
    display: flex;
    
    
}
input{
        width: 500px;
        height: 50px;
      
}