<form (ngSubmit)="onSubmit()" class="form-container">
  <ng-container *ngFor="let staff of Staff">
    <ng-container *ngIf="staff.type !== 'date'; else elseBlock">
      <mat-label>{{staff.name}}</mat-label>
      <input matInput style="padding: 10px; margin: .5em;" type="{{staff.type}}" name="{{staff.name}}" placeholder="{{staff.placeholder}}" [(ngModel)]="formData[staff.name]">
    </ng-container>
    <ng-template #elseBlock>
      <mat-label>{{staff.placeholder}}</mat-label>
      <input matInput style="padding: 10px; margin: .5em;" type="{{staff.type}}" name="{{staff.name}}" placeholder="{{staff.placeholder}}" [(ngModel)]="formData[staff.name]">
    </ng-template>
  </ng-container>
  <button type="submit" mat-raised-button style="width: 30px;">Submit</button>
</form>
