<div class="container">
  <form [formGroup]="posForm">
    <div class="container1">
      <ng-container *ngFor="let field of fields">
        <mat-form-field appearance="outline">
          <mat-label>{{ field.placeholder }}</mat-label>
          <ng-container *ngIf="field.label === 'Category'">
            <mat-select formControlName="categoryName" (ngModelChange)="onCategorySelected($event)">
              <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.categoryName }}</mat-option>
            </mat-select>
          </ng-container>

          <ng-container *ngIf="field.label === 'Product'">
            <mat-select formControlName="product">
              <mat-option *ngFor="let product of products" [value]="product">
                {{ product.productName }}
              </mat-option>
            </mat-select>
          </ng-container>
          
          <ng-container *ngIf="field.label === 'input'">
            <input matInput formControlName="quantity">
          </ng-container>
          <input matInput *ngIf="field.label === 'input'" />
        </mat-form-field>
      </ng-container>

      <button mat-fab color="success" aria-label="Example icon button with a Add icon"  (click)="addProduct()" >
        <mat-icon>add</mat-icon>
      </button>

    </div>
  </form>

  <table>
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
        <th> <button mat-raised-button color="warn" (click)="resetSales()" >Reset</button> </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sale of sales">
        <td>{{ sale.productName }}</td>
        <td>{{ sale.category }}</td>
        <td>{{ sale.quantity }}</td>
        <td>{{ sale.price }}</td>
        <td>{{ sale.total }}</td>
      </tr>
    </tbody>
  </table>

</div>
