
.col1{

    height: 70px;
    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    /* padding-right: 10px; */
    height: auto;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, rgb(53,210,124), rgba(0, 255, 98, 0.514)) border-box;
    border: 20px solid transparent;
    border-radius: 10px;
    border: 5px;
    margin: auto;
    margin-top: 10px;
}
.container2{
    display: flex;
    flex-direction: row;
    /* background: rgb(52,210,124);
    background: linear-gradient(90deg, rgba(52,210,124,1) 0%, rgba(39,255,0,0) 100%); */
    justify-content: center;
}



.row2{
    height: 20%;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5%;
    /* background-color: rgba(0, 255, 98, 0.514); */
    margin-left: 10px;

}

.form-field{
    background-color: white;
    height: 55px;
    margin-top: 40px;
}

.outline{
    background-color: white;
}

.btn-submit{
    margin-top: 40px;
    height:40px ;
    width: 200px;
    margin: 20px auto;
}

.mat-success{
    background-color:  rgba(0, 255, 98, 0.514);
}
