<div mat-dialog-title>
    <h1>Form</h1>
</div>
<form [formGroup]="product" (ngSubmit)="onFormSubmit()">
    <h2 mat-dialog-title> Add Product </h2>
    <ng-container *ngFor="let product of Product">

      <ng-container *ngIf="product.name === 'Description'">
        <mat-form-field>
          <mat-label>{{product.name}}</mat-label>
          <textarea matInput type="{{product.type}}"name="{{product.name}}" placeholder="{{product.placeholder}}" id="{{product.id}}" formControlName="{{product.name}}" ></textarea>
        </mat-form-field>
      </ng-container>
      <ng-container *ngIf="product.name !== 'Description' && product.name !== 'Category'">
        <mat-form-field>
          <mat-label>{{product.name}}</mat-label>
          <input matInput type="{{product.type}}" name="{{product.name}}" placeholder="{{product.placeholder}}" id="{{product.id}}" formControlName="{{product.name}}">
        </mat-form-field>
      </ng-container>
      <ng-container *ngIf="product.name === 'Category'">
        <mat-form-field class="category-select">
          <mat-label>Category</mat-label>
          <mat-select name="{{product.name}}" >
            <mat-option *ngFor="let option of option" [value]="option.value">{{option.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
    </ng-container>
<div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit">{{data ? 'Update' : 'Save'}}</button>
</div>
</form>