

<form [formGroup]="addstaff" (ngSubmit)="onFormSubmit()">
  
    <div mat-dialog-title>
      <h1>Add Staff</h1>
    </div>

    <div mat-dialog-content>
      
  <div class="form-container">
    
    
    <div class="form-column">
      <ng-container *ngFor="let staff of Staff; let i = index">
        <div *ngIf="i % 2 === 0" class="form-group">
          <ng-container *ngIf="staff.type !== 'date'; else elseBlock">
            <mat-form-field appearance="outline" class="example-form-field">
              <mat-label >{{staff.hold}}</mat-label>
              <input matInput class="form-control" type="{{staff.type}}" name="{{staff.name}}" id="{{staff.id}}" placeholder="{{staff.placeholder}}" >
            </mat-form-field>
          </ng-container>
          <ng-template #elseBlock>
            <mat-form-field appearance="outline" class="form-control">
              <mat-label>Birthday</mat-label>
              <input matInput [matDatepicker]="picker" name="{{staff.name}}" id="{{staff.id}}" placeholder="{{staff.placeholder}}">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </ng-template>
        </div>
      </ng-container>
    </div>

    <div class="form-column">
      <ng-container *ngFor="let staff of Staff; let i = index">
        <div *ngIf="i % 2 === 1" class="form-group">
          <ng-container *ngIf="staff.type !== 'date'; else elseBlock">
            <mat-form-field appearance="outline" class="example-form-field">
              <mat-label >{{staff.hold}}</mat-label>
              <input matInput class="form-control" type="{{staff.type}}" name="{{staff.name}}" id="{{staff.id}}" placeholder="{{staff.placeholder}}" >
            </mat-form-field>
          </ng-container>
          <ng-template #elseBlock>
            <mat-form-field appearance="outline" class="form-control">
              <mat-label>Date Joined</mat-label>
              <input matInput [matDatepicker]="picker" name="{{staff.name}}" id="{{staff.id}}" placeholder="{{staff.placeholder}}">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </ng-template>
        
        </div>
      </ng-container>
    </div>

    
   </div>
  </div>
   <div mat-dialog-actions>
    <button type="button" mat-raised-button>Cancel</button>
    <button type="submit" mat-raised-button>Submit</button>
  </div>
    
</form>