<form #form="ngForm" (ngSubmit)= "addCategory()" class="form-container">
      <h2 mat-dialog-title> Add Category </h2>
      
        <ng-container *ngFor="let Category of Category">
          <mat-form-field>
          <mat-label>{{Category.name}}</mat-label>
          <input matInput type="{{Category.type}}" name="{{Category.name}}" placeholder="{{Category.placeholder}}" [(ngModel)]="addCategoryRequest[Category.name]">
        </mat-form-field>
        </ng-container>
      <button mat-raised-button type="submit">Submit</button>
  </form>