/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
* {
  font-family: 'Lexend Deca', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #f2f2f2 !important;
}
=======

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
>>>>>>> parent of d257cf2 (Merge branch 'SirPat' into Develop)
