*{
 
  margin-bottom: 1rem;
  white-space: normal;
}

.header{
  display: flex;
  justify-content: space-around;
}
.body{
  display: flex;
  padding: 0%;
}

table {
  width: 80%;  
  height: 40%; 
  align-items: center;
  border-spacing: 0px;
}
.actions{
  display: flex;
  margin: auto;
}
.mat-mdc-paginator-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 8px;
  flex-wrap: wrap-reverse;
  width: 90%;
  margin-top: 10%;
}
.button{
  
  width: 20%;
  align-items: flex-start;
}

.back{
  flex-direction: row-reverse;
}

.mdc-data-table__table {
  min-width: 80%;
  border: 1;
  white-space: normal;
  border-spacing: 1;
  table-layout: auto;
  margin: auto;
}

.ng-container{
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
    height: auto;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, rgb(53,210,124), rgba(0, 255, 98, 0.514)) border-box;
    border: 2px solid transparent;
    border-bottom-right-radius: 1px;
    border-top-left-radius: 1px;
    box-shadow: .5px .5px #2ea86548; 
    margin-top: 2%;
}

.tools {
  background-color: #2ea86548;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.tools button{
  margin: 0 10px;
}

.btna{
  margin-right: 2%;
  margin-top: 10px;
}

.ng-container mat-form-field{
  width: 80%;
  padding: 10px;
  margin-top: 2.5rem;
  height: 4.5rem;
}
.mat-icon{
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%)
}
.material-symbols-outlined{
  position: absolute;
  
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%)
}

.td mat-cell{
  padding: 10px;
}
.ng-container th, td{
  text-align: center;
}
